body { 
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)), url(images/hero_nuclear_blast.jpeg);
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.score {
    padding-top: 30px;
}

.score-system {
    color: fff;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    gap: 20rem;
    text-align: center;
}

.players-score {
    margin-left: auto;
}


#headline, #headline2, #headline3, #headline4 {
    position: absolute;
    text-align: left;
    font-size: 2rem;
    text-align: left;
    top: 300px;
    right: 50%;
    transform: translateX(50%);
    text-transform: uppercase;
    font-weight: 700;
    transition: opacity 1s ease-in-out;
}

.fadeOut {
    opacity: 0;
}

#fly-in-text {
    font-size: 2rem;
    top: -20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
}

.flew-in-text {
    top: 63rem !important;
}

/* player images  */

.player-robot {
    position: absolute;
    right: 200px;
    top: -40rem;
    scale: 0.4;
    transition: right 0.5s ease-in-out;
    z-index: -99;
}

.player-human {
    scale: 0.2;
    position: absolute;
    top: -100rem;
    transition: left 0.5s ease-in-out;
    z-index: -99
}

.robot-fly-in {
    right: -10rem;
}
.human-fly-in {
    left: -15rem;
}

/* FLOATING WEAPONS */


.weapons .rock {
    animation: float 3.1s ease-in-out infinite;

}
.weapons .scissors {
    animation: float 3.9s ease-out infinite;

}
.weapons .paper {
    animation: float 3.5s ease-in infinite;

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



/* STAT BOARD  */

.stat-board {
    box-shadow: 0px -20px 0px 0px black;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 20rem;
    background-color: black;
    color: white;
    position: absolute;
    background: url("./images/red-background.jpeg");
    bottom: -50rem;
    transition: bottom 1s ease-in-out;

}

.robot-stats, .player-stats {
    position: relative;
}

#computer-face {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0%;
    right: 0%;
    border-left: 5px black solid;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    border-right: 5px black solid;
}

#human-face {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0%;
    left: 0%;
    border-left: 5px black solid;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    border-right: 5px black solid;

}

.player-choices {
    display: flex;
}

.player-stats h1 {
    font-size: 3rem;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 56%;
}

.robot-stats h1 {
    font-size: 3rem;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 44%;
}

.display-absolute-none {
    display: none !important;
}

.weapons {
    position: absolute;
    display: flex;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    bottom: 350px;
    transition: fade 0.5s ;
}

.weapons img {
    width: 8rem;
    height: 8rem;
    margin: 3rem;
    cursor: pointer;
}

.weapons-history {
    border: 2px solid white;
    overflow: hidden;
    color: white;
    position: absolute;
    background: black;
    transform: translateX(-25%);
    width: 40%;
    height: 10rem;
    top: 6rem;
    left: 50%;
}

li  {
    list-style: none;
}

.weapons-history-robot {
    border: 2px solid white;
    overflow: hidden;
    color: white;
    position: absolute;
    background: black;
    transform: translateX(-25%);
    width: 40%;
    height: 10rem;
    top: 6rem;
    left: 35%;
}

.weapons-history li  {
    list-style: none;
}

